modules = ["python-3.12:v3-20240116-aaa41741"]
run = "python main.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python main.py"]

[workflows]
runButton = "Fitbit Agent"

[[workflows.workflow]]
name = "Fitbit Agent"
author = 38984291
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 main.py"

[[ports]]
localPort = 5000
externalPort = 80
